
* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgb(240, 146, 162), 60%, rgb(234, 234, 108));

}

h1 {
    color: aliceblue;
    margin-left: 155px;
}

h1 > div {
    font-size: 20px;
    display: flex;
    margin-left: 20px;
}

h1 > div div {
    margin-left: 10px;
    margin-right: 30px;
}

#board {
    height: 600px;
    width: 600px;
    background: rgb(223, 188, 137);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 16vmin);
    grid-template-rows: repeat(4,16vmin);
}

.flip-card {
    background-color: transparent;
    width: 150px;
    height: 100%;
    perspective: 200vmin;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}

/* .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
} */

.flip-card-flipped {
    transform: rotateY(180deg);
}
    
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%; 
    backface-visibility: hidden;      
}
.flip-card-front {
    background-color: #fff;
    color:rgb(234, 234, 108);
}

.flip-card-back {
    background-color: aqua;
    color: black;
    transform: rotateY(180deg);
}

/* CSS */
.button-36 {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  margin-left: 180px;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}